{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Hop[p]ers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-center align-items-start">
    <span class="navbar-brand position-absolute mx-0">Hop[p]ers</span>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/empresas">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/produtos">Produtos</a>
            </li>
        </ul>
    </div>
</nav>
<!--navbar-->

<div class="col-8 m-auto pt-2 pb-2 text-center" id="titulo">
    <h1>SISTEMA DE CADASTRO HOP[P]ERS</h1>
</div>

<div class="container">
    <div class="row d-flex align-items-stretch">
        <div class="col-md-8 m-auto">
            <div>
                <img class="d-flex align-items-stretch" id="fotohome" src="https://i.imgur.com/GK7ROmT.png" alt="desenho de uma loja">
            </div>
        </div>
    </div>
</div>


    <div class="row mb-2 mt-5">
        <div class="col-md-12">
            <h5 id="contato"class="text-center">
                ENTRE EM CONTATO COM A GENTE
            </h5>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="nome">Nome:</label> <br>
                        <input type="text" id="nome" class= "form-control">
                        <div id='txtNome'></div>
                        <br>
                    </div>
                    <div class= "form-group">
                        <label for="email">E-mail:</label> <br>
                        <input type="email" id="email" class= "form-control">
                        <div id='txtEmail'></div>
                        <br>
                    </div>
                    <div class= "form-group">
                        <label for="assunto">Assunto:</label> <br>
                        <textarea name="assunto" id="assunto" cols="70" rows="5" class= "form-control"></textarea>
                        <div id='txtAssunto'></div>
                        <br>
                        <br>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <a class="btn btn-primary" href="/">Enviar</a>
                      </div>
                </form>
        </div>
        <footer>
            <div class="text-center p-3 mt-5 bg-primary">
                © 2021 Copyright: Hop[p]pers. Projeto desenvolvido com o apoio de Luiza Code e Gama Academy.
            </div>
        </footer>
</body>
</html>