<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Hop[p]ers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>SISTEMA DE CADASTRO DE EMPRESAS E PRODUTOS</h1>
</div>

<div class="col-8 m-auto pt-3 pb-2 text-center">

    <p><a href="/formempresa" class="btn btn-success">Cadastre sua empresa</a></p>
    <p><a href="/formproduto" class="btn btn-success">Cadastre seus produtos</a></p>
    <p><a href="/empresas" class="btn btn-success">Consulte as empresas cadastradas</a></p>
    <p><a href="/produtos" class="btn btn-success">Consulte todos os produtos</a></p>
    <!- AQUI TEM QUE MUDAR->
    <p><a href="/empresas" class="btn btn-success">Consulte os produtos por empresa</a></p>

</div>

</body>
</html>