<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista Produtos por empresa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="col-8 m-auto pt-2 pb-2 text-center " >
    <h1>Lista de Produtos por empresa</h1>
    <h2>Empresa: {{nome_empresa}}</h2>
</div>

<div class="col-8 m-auto pt-4 pb-2 text-center">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Estoque</th>
      <th scope="col">Preço</th>
      <th scope="col">Status</th>


    </tr>
  </thead>
  <tbody>
  {% for produto in produto_lista %}

    <tr>
      <th>{{produto.id}}</th>
      <td>{{produto.nome}}</td>
      <td>{{produto.estoque}}</td>
      <td>{{produto.preco}}</td>
      <td>{{produto.status}}</td>

        <td>
        <a href="/detalheproduto/{{produto.id}}" class="btn btn-dark">Visualizar</a>
        <a href="" class="btn btn-danger">Deletar</a>
        </td>

    </tr>

  {% endfor %}
  </tbody>
</table>
</div>
<div class="col-8 m-auto pt-3 pb-2 text-center">
    <a href="/formproduto" class="btn btn-success">Cadastre seu produto</a>
    <a href="/" class="btn btn-info">Voltar</a>
</div>
</body>
</html>